*{margin: 0; padding: 0;}
body{

  background-color:#FFFFFF;
}

#wrapper{
    width:1280px;
    margin:5px auto;
    background-color: aliceblue;



}

#header{
  background-color:#75B325 ;
  padding: 15px;
  border-bottom:5px solid #21252B;

}
#header h2{
  color:#FEFEFE;
  font-family:georgia;
}
#header P{
  padding: 5px;
  color: #282C34;
  font-family:georgia;

}
#nav{
  background-color: #FFFFFF;

  border-bottom:5px solid #21252B;
//  padding-bottom: 10px;


}
#nav ul{
   background-color: #FFFFFF;
   list-style-type: none;
   height: 38px;


}
#nav ul li{
  float: left;
  border-right: 1px solid #21252B;

}
#nav ul li:last-child{
  border: none;
}
#nav ul li a{
  color: #75B325;
  text-decoration:none ;

  display: block;
  padding: 10px 20px;
  font-family:arial;

}
#nav Ul li a:hover{
  color: #F0F0F0;
  background-color:  #75B325;

}
#slider img {//usibg adms projec
 width: 1280;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;/*img ar nesa faka jaiga remove korar jonno*/


}


.content_wrapper{
  border-top: 5px solid #21252B;
background-color: #F0F0F0;
padding: 20px;
display: block;
//overflow: hidden;

}
.left_content_1{
 width: 600px;
 margin-right: 30px;
 float:left;
}
.left_content_1 article {
  border-bottom:1px solid #21252B;
  padding: 10px;
  margin: 10px;

}
.left_content_1 article:last-child {
  border-bottom:none;

}
.left_content_1 h2{
  color:0078D7;
}




.right_content_1{
  width: 590px;
  float:right;
  padding: 10px;



}

.right_content_1 ul{
  list-style-type: circle;
  padding: 10px;

}
.right_content_1 ul li{
  padding: 5px;

}
.right_content_1 h2{

   margin-bottom: 5px


}
.right_content_1 h3{

   margin-bottom: 20px;
   color:blue;


}

.footer{

  background-color: #282C34;
  padding: 10px;
  text-align: center;
}

.footer p{
  color: #FFFFFF;
}
