


.myInfo{
  font-size: 15px;
  padding: 30px;
  border-bottom:1px solid #21252B;
  text-align:left;
  background-color:#ACF2F3;

}
.myInfo  h2{

  text-align: center;
}

.AllVisitor{
 padding: 30px;
   border-bottom:1px solid #21252B;
   background-color:#6AFF75;



}
.AllVisitor h2{
 padding: 5px;
 text-align: center;


}

.AllVisitorTable {
  width:100%;
}
.AllVisitorTable, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.AllVisitorTable, th, td {
  padding: 15px;
  text-align: left;
}
.AllVisitorTable tr:nth-child(even) {
  background-color: #eee;
}
.AllVisitorTable tr:nth-child(odd) {
 background-color: #fff;
}
.AllVisitorTable th {
  background-color: black;
  color: white;

}


.AddVisitor{

  /*border-top:1px solid #21252B;*/
    padding: 30px;
    border-bottom:1px solid #21252B;
    background-color:#E2FA59;


}
.AddVisitor h2{
  text-align: center;
  padding: 5px;
/*  background: white;*/


}
.AddVisitortable{
  width:100%;
  background-color: white;
  border: none;



}




.AddVisitortable tr{
  padding: 0px;
  border: none;



}
.AddVisitortable tr td{

  font-size: 20px;
  border: none;
  border-collapse: none;
  padding: 0px;
  text-align: left;

}
#np{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  padding: 1px 65px ;
  background-color: #E8F0FE;





}

#content_wrapper{
  border-top: 0px solid #21252B;
background-color: #F0F0F0;
padding: 20px;
display: block;
//overflow: hidden;

}

.nav{
  background-color: #FFFFFF;

  border-bottom:5px solid #21252B;
//  padding-bottom: 10px;


}
.nav ul{
   background-color: #FFFFFF;
   list-style-type: none;
   height: 28px;


}
.nav ul li{
  float: left;
  border-right: 1px solid #21252B;

}
.nav ul li:last-child{
  border: none;
}
.nav ul li a{
  color: #75B325;
  text-decoration:none ;

  display: block;
  padding: 10px 20px;
  font-family:arial;

}
.nav Ul li a:hover{
  color: #F0F0F0;
  background-color:  #75B325;

}
